.~lock.*
 # files not needed by every user

.directory
*.stackdump
*.user
*.save

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt 
*.user
*.autosave

# Qt builds
build-*/

# Intellij
.idea/

# sass
.sass*/

	

